/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet'); */

:root {
    --main-black: #374151; /*272f31*/
    --light-black: #848a96d0;
    --light-blue: #34c2cc23;
    --main-blue: #34C3CC;
    --darker-blue: #21a4ad;
    --darkest-blue: #12838b;
    --main-light-black: #838e91;
    --main-purple: #C161E2;
    --light-purple: #c261e271;
    --light-gray: #F9FAFB;
    --light-outline: #EAEBEF;
}
body {
    margin: 0;
    /*font-family: 'Open Sans', Arial, Helvetica;*/
    font-size: 18px;
    font-weight: 400;
    color: var(--main-black);
    overflow-x: hidden;
}
.main-container {
    width: 1120px;
    margin: 0 auto;
}
.full-width {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}
a {
    text-decoration: none;
    color: var(--main-black);
}
b {
    font-weight: 700;
}
h1, h2, h3, h4 {
    /* font-family: 'Proxima Nova'; */
    color: var(--main-black);
    font-weight: 800; 
}
h1 {
    margin-top: 36px;
    font-size: 24px;
}
h2 {
    margin-top: 48px;
    font-size: 28px;
}
h3 {
    font-size: 32px;
    margin-top: 36px;
}
h4 {
    margin-top: 36px;
}
h5 { /* capital letters heading */
    font-size: 18px;
    margin-bottom: -20px;
    /* margin-top: 48px; */
    letter-spacing: 0.03em;
    color: var(--main-blue);
}
/* .journie h5 {
    color: #49d191;
} */
p {
    font-size: 18px;
    line-height: 27px;
}
img {
    width: 100%;
}
video {
    box-shadow: 0px 0px 12px var(--light-outline); 
}
blockquote {
    border-left: 6px solid var(--main-blue);
    padding: 0 0 0 36px;
    margin: 0 0 48px 0;
    position: relative;
}
blockquote::before{
    content: "\201C";
    color: var(--main-blue);
    font-size: 2.6em;
    position: absolute;
    left: 14px;
    top: -4px;
  }
blockquote .quote {
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
}
blockquote .quote-citation {
    font-size: 16px;
    color: var(--main-light-black);
}
/*
.project ul {
    margin-top: -24px;
} 
.project ul li::before {
  content: "\2022"; 
  color: var(--main-blue); 
  font-weight: bold;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
} */
.item .overlay {
    height: 316px;
    padding: 0;
    border-radius: 0px;
}
.overlay {
    padding: 8px 0;
}
.overlay.blue {
    background-color: #a7e5ffc2;
}
.overlay.purple {
    background-color: #FFDEDF;
}
.overlay.green {
    background-color: #D9F7E4;
}
.overlay.yellow {
    background-color: #f9c986cc;
}
.overlay.gray {
    background-color: #D7F7F0;
}
.overlay.imag {
    background-color: #DEEDFF;
}
.overlay img {
    vertical-align: middle;
}
.no-border-radius {
    border-radius: 0;
}
.vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.preview-image {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.small-text, .caption {
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 16px;
    color: var(--light-black);
}
.caption {
    margin-top: -12px;
    margin-bottom: 32px;
    text-align: center;
    font-style: italic;
}
.emphasized-text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin: 48px;
}
.btn-big {
    display: inline-block;
    margin: 16px 0;
    padding: 12px 24px 12px 24px;
    background-color: var(--main-blue);
    color: white;
    border-radius: 100px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    font-size: 18px;
    font-weight: 600;
    cursor: hover;
}
.btn-big:hover {
    background-color: var(--darker-blue);
    color: white !important;
}
.journie .btn-big {
    background-color: #49d191;
}


/* -----header/nav----*/
nav {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: white;
    display: inline-block;
}
nav a {
    color: var(--main-black);
    font-weight: 400;
    text-decoration: none;
}
.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 72px;
}
nav ul {
    float: right;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-left: 32px;
    font-size: 18px;
    line-height: 32px;
}
.underline {
    color: var(--light-black);
    transition: 0.4s;
}
.is-active, .underline:focus, .underline:hover {
    color: var(--main-black);
}

/* -----about----*/

/* -----Projects----*/
.introduction {
    margin: 96px 0;
}
.header {
    /* font-family: 'Proxima Nova'; */
    font-weight: 800;
    margin-bottom: 24px;
    font-size: 40px;
}
.sub-header {
    font-size: 22px;
    font-weight: 400;
    width: 90%;
    line-height: 150%;
}
.introduction img {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0px 4px -4px 4px;
}
a {
    font-weight: 600;
    transition: 0.3s;
}
a:hover {
    filter: brightness(0.7);
}
.flex-container {
    justify-content: left;
    display: flex;
}
.section-container {
    padding: 32px 0px 32px 0px;
    margin: 64px 0;
}
.section-container.gray {
    background-color: var(--light-gray);
}
.section-container.blue {
    background-color: var(--light-blue);
}
.designer-font {
    font-family: Baskerville;
    font-size: 22px;
}
.programmer-font {
    font-family: "Source Code Pro";
}
.writer-font {
    font-family: "Handlee";
}
.all-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.item {
    width: 47%;
    margin-bottom: 72px;
    transition: transform .4s ease;
}
.item:hover {
    transform: scale(0.97);
}
.item a {
    font-weight: 400;
    color: var(--main-black);
}
.item h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
}
.fix-height img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    max-height: 250px;
    width: auto;
}

/* -----about page----*/
.profile-pic {
    margin-top: 32px;
    box-shadow: 12px 12px 0 var(--light-purple);
}
/*
.about-text {
    float: left;
    margin-left: 10%;
    width: 65%;
}
.about-text:after{
    clear: both;
}*/
.about a {
    color: #C161E2;
}
.about p {
    size: 29px;
}

/* -----project pages----*/
.project {
    width: 664px;
    margin: 0 auto;
}
.project img {
    width: 100%;
    margin: 32px 0;
}
.project a {
    transition: 0.4s;
}
.project a.btn-big {
    color: white;
}
.full-width.overlay img {
    height: 48vh;
    width: auto;
    padding: 24px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.project-title {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}
.project p.subtitle { /* override regular p styling */
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}
/* .table-of-contents {
    position: fixed;
    top: 50%;
    left: 40px;
    transform: translate(-50%, -50%);
    z-index: 5;
}
ul.table-of-contents {
    list-style-type: none;
}
ul.table-of-contents a {
    color: var(--main-light-black);
    font-size: 14px;
}
ul.table-of-contents a:active {
    color: green;
} */
.row {
    margin: 40px 0;
}
.row h4 {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 16px;
}
.proj-detail {
    font-size: 16px;
    line-height: 24px;
    display: block;
}
.bannerContainer img {
    width: 100%;
}
.icon-list {
    margin: 0;
    padding: 0;
}
.icon {
    text-align: center;
    padding-right: 16px;
    min-width: 22px;
}
.icon-box {
    display: flex;
    padding-top: 12px;
}
.icon-box h1, ol h1, .usability-box h1 {
    font-weight: 800;
    margin: 0;
    font-size: 20px;
}
.icon-box p, ol p {
    margin-top: 4px;
    margin-bottom: 0px;
}
ol {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 32px;
}
ol li {
    margin: 0 0 16px 0;
    counter-increment: my-awesome-counter;
    position: relative;
}
ol li::before {
    content: counter(my-awesome-counter);
    color: var(--main-blue);
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: calc(-1 * 24px - 10px);
    margin-left: 4px;
}
.journie ol li::before {
    color: #49d191;
}
.project p, ol li, ul li {
    font-size: 18px;
    line-height: 27px;
}
.project p {
    padding-bottom: 8px;
}
.column-left {
    float: left;
    width: 48%;
}
.column {
    float: left;
    width: 48%;
    margin-left: 4%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.three-col-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 40px;
}
.col {
    width: 29%; 
    text-align: center;
}
.medium-stat {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-blue);
}
.large-stat {
    font-size: 56px;
    font-weight: 800;
    color: var(--main-blue);
}
.stat-text {

}
img.infographic {
    width: 80%;
}
img.shadow {
    box-shadow: 0px 0px 12px var(--light-outline); 
}
img.competitor {
    width: 100px;
    height: auto;
}
.mockup img {

}
img.left {
    margin-right: 4%;
}
img.center-image {
    display: block;
    width: 75%;
    margin: 0 auto;
}
img.reduce-size {
    width: 50%;
}
.image-row,.image-row-small {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.image-row img {
    height: 400px;
    width: auto;
    box-shadow: 2px 2px 4px var(--light-outline);
    margin-bottom: 24px;
}

.large-overflow {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
}
.medium-overflow {
    width: 76vw;
    position: relative;
    left: calc(-38vw + 50%);
}
.small-overflow {
    width: 62vw;
    position: relative;
    left: calc(-31vw + 50%);
}
.demo-box, .usability-box, .three-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.demo-box img {
    height: auto;
    width: 36%;
    margin-bottom: 16px;
    box-shadow: 0px 0px 12px var(--light-outline); 
}
.demo-box div {
    width: 56%;
}
.usability-box img {
    height: auto;
    width: 48%;
    /* box-shadow: 1px 2px 6px 1px var(--light-outline); */
}
.usability-box div {
    width: 48%;
}
.usability-box p {
    margin-bottom: 0;
}
.three-item-row img {
    height: auto;
    width: 31%;
}
.shadow-box-container {
    padding: 12px 24px;
    background-color: white;
    box-shadow: 0px 0px 12px var(--light-outline);
    border-radius: 16px;
    margin-bottom: 24px;
}
.center-text {
    text-align: center;
}
.box-container {
    margin: 40px auto 40px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 28px;
}
.box {
    background-color: var(--light-blue);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    line-height: 28px;
}
.journie .box {
    background-color: #43e99c23;
}

/* -----footer----*/
.footer {
    color: var(--light-black);
    clear: both;
    margin-bottom: 64px;
    margin-top: 80px;
    text-align: center;
}
.footer img {
    width: 14px;
}

/* -----tables----*/
table {
    margin-top: 16px;
    margin-bottom: 16px;
    border-collapse: collapse;
    border: 2px solid var(--main-blue);
    width: 100%;
}
td {
    border: 2px solid var(--main-blue);
    padding: 16px;
    text-align: left;
}​
th { /* for some reason this is neccessary to not mess up table formatting */
}
th {
    padding: 8px 16px;
    text-align: left;
    background-color: var(--main-blue);
    color: var(--main-black);
    font-weight: 600;
}
td div {
    margin-top: 8px;
}


nav {
    background-color: ;
}


/* responsive */
@media only screen and (max-width : 1200px) {
    nav {
        background-color: ;  
    }  
    .main-container {
        width: 92%;
        margin: 0 auto;
    }  
    .small-overflow {
        width: 100%;
        position: static;
    }
}
@media only screen and (max-width : 800px) {
    nav {
        background-color: ;
    }   
    .main-container {
        width: 100%;
    }  
    .project, .home-page-container {
        width: 92%;
        margin: 0 auto;
    }
    nav {
        padding: 0 4%;
    }
    .medium-overflow, .large-overflow {
        width: 100%;
        position: static;
    }
    .full-width.overlay img {
        width: 92%;
        height: auto;
    }
    .sub-header {
        width: 100%;
    }
    .item {
        float: none;
        width: 100%;
        margin: 0 auto 56px auto;
    }
}



.introduction a.meta-color {
    color: #017FF8;
}
.introduction a.amazon-color {
    color: #F8991C;
}
.introduction a.lat-color {
    color: #C161E2;
}
.introduction a.mcsweeneys-color {
    color: #47CC54;
}

