@import url('https://fonts.googleapis.com/css?family=Proxima-Nova:light,regular,semibold,bold,black,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:light,regular,semibold,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
